.button {
  @include button();

  &.align-right {
    float: right;
    margin-right: 0;
  }

  &.secondary {
    @include hover((
      'background-color': shade($secondary-color, 10%),
      'color': $white,
    ));
    background-color: $secondary-color;
  }
}
