// scss-lint:disable SelectorFormat

/**
 * Validation errors
 */

.validation_message,
.validation_error {
  @include full-width;
  background: $red;
  border-radius: 3px;
  color: $white;
  padding: 10px 23px;
  position: relative;
}

.validation_error {
  margin-bottom: $line-height;
}

.validation_message {
  margin-top: 20px;
  width: auto;

  @include respond-to('medium') {
    margin-left: 25%;
  }

  &::before {
    border: solid transparent;
    border-color: transparent;
    border-bottom-color: $red;
    border-width: 7px;
    bottom: 100%;
    content: '';
    left: 50%;
    margin-left: -7px;
    position: absolute;
  }
}

.gfield_required {
  color: $red;
  display: inline-block;
  padding: 0 2px;
}

/**
 * Core
 */

.gform_fields {
  @include list-style-none;

  ul {
    @include list-style-none;
  }

  li {
    @include full-width;
  }
}

label {
  height: 40px;
  line-height: 40px;
  margin-bottom: 0;
}

.gfield > label {
  font-weight: 700;
}

.ginput_container,
.gform_drop_area,
.ginput_list {
  float: left;
  width: 100%;

  @include respond-to('medium') {
    width: 75%;
  }
}

.validation_error,
.gfield {
  margin-bottom: $vertical-spacing;
}

/**
 * Regular (you'll probably need this)
 */

.gfield_checkbox,
.gfield_radio {
  input {
    float: left;
    margin-top: 14px;
    margin-right: ($horizontal-spacing / 2);
  }

  label {
    width: auto;
  }
}

/**
 * Obscure (remove if need be)
 */

// note: name and address fields

.ginput_complex {
  float: left;
  width: 100%;

  @include respond-to('medium') {
    width: 75%;
  }

  span {
    @include full-width;
    margin-bottom: $vertical-spacing;

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      width: 100%;

      @include respond-to('medium') {
        padding-left: $horizontal-spacing;
        width: 50%;
      }
    }

    select,
    input {
      float: left;
      width: 100%;

      @include respond-to('medium') {
        width: 50%;
      }
    }
  }
}

// note: list that lets the user add items

.ginput_list {
  float: left;

  table {
    margin-bottom: 0;
  }

  .gfield_list {
    border: 0;
    padding: 0;
  }

  tr,
  th,
  td {
    border: 0;
    padding: 0;
  }

  tr {
    position: relative;
    width: 100%;
  }

  td {
    padding-bottom: ($vertical-spacing / 2);
  }

  tr:last-of-type td {
    padding-bottom: 0;
  }

  .gfield_list_cell {
    width: 75%;

    input {
      width: 100%;
    }
  }

  .gfield_list_icons {
    padding-left: 10px;
    width: 25%;
  }
}

// note: file upload

.gform_drop_area {
  border: 2px dashed $border-color;
  padding: 0 $horizontal-spacing $horizontal-spacing;

  @include respond-to('medium') {
    padding-top: $horizontal-spacing;
  }

  .button {
    margin-bottom: 0;
  }

  .gform_drop_instructions {
    float: left;
    height: 50px;
    line-height: 50px;
    padding-right: $horizontal-spacing;
  }
}

// note: file preview

.ginput_preview {
  margin-left: 25%;

  .gform_delete {
    cursor: pointer;
    float: left;
    margin-top: 7px;
    margin-right: ($horizontal-spacing / 2);
  }
}

// note: multi-file

.gform_fileupload_multifile {
  .validation_message {
    display: none;
  }
}

// note: section spit

.gsection h2 {
  margin-top: $vertical-spacing;
  margin-bottom: 0;

  @include respond-to('medium') {
    padding-left: 25%;
  }
}

/**
 * Footer
 */

.gform_button {
  @include respond-to('medium') {
    margin-left: 25%;
  }
}

/**
 * Gravity Forms width settings
 */

.small,
.medium,
.large {
  width: 100%;
}

.small {
  @include respond-to('medium') {
    width: 25%;
  }
}

.medium {
  @include respond-to('medium') {
    width: 50%;
  }
}

.large {
  @include respond-to('medium') {
    width: 75%;
  }
}
