.jokes {
  @include full-width();
  margin-bottom: 10px;

  .title {
    float: left;
    line-height: map-get($line-height, 'small');
    width: 65%;

    @include respond-to('medium') {
      width: 70%;
    }

    a {
      color: $dark-grey;
    }

    a:hover {
      color: $extra-dark-grey;
    }
  }

  .grade {
    float: left;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
    width: 15%;

    @include respond-to('medium') {
      padding-right: 20px;
      width: 10%;
    }
  }

  .rating-bar {
    float: left;
    margin-top: 12px;
    width: 20%;
  }
}
