.jokes {
  @include full-width();
  margin-bottom: 10px;

  .title {
    float: left;
    width: 75%;
  }

  .grade {
    float: right;
    font-weight: bold;
    margin-right: 20px;
  }

  .rating-bar {
    float: right;
    margin-top: 12px;
    width: 25%;
  }
}
