.navigation-icon {
  height: 24px;
  position: relative;
  width: 30px;

  .line {
    background-color: $white;
    border-radius: 2px;
    height: 4px;
    position: absolute;
    transition: transform 0.2s ease-out;
    width: 30px;
  }

  .line:nth-child(1) {
    top: 0;
  }

  .line:nth-child(2) {
    top: 10px;
  }

  .line:nth-child(3) {
    top: 10px;
  }

  .line:nth-child(4) {
    top: 20px;
  }

  &.active {
    .line:nth-child(1) {
      transform: scale(0, 1) translate(0, 10px);
    }

    .line:nth-child(2) {
      transform: rotate(135deg);
    }

    .line:nth-child(3) {
      transform: rotate(-135deg);
    }

    .line:nth-child(4) {
      transform: scale(0, 1) translate(0, -10px);
    }
  }
}
