.header {
  @include full-width();
  @include toggle-navigation((
    'height': map-get($header-height, 'toggle-navigation'),
    'item': '.menu-item',
    'menu': '.main-navigation',
    'until': map-get($breakpoints, 'toggle-navigation'),
  ));
  background-color: $primary-color;
  border-bottom: 5px solid $light-blue;
  height: map-get($header-height, 'toggle-navigation');
  z-index: 1;

  a {
    color: $white;
    text-decoration: none;
  }
}
