.header {
  @include full-width();
  background-color: $primary-color;
  padding: 20px 0;
  text-align: left;

  a {
    color: $white;
    text-decoration: none;
  }

  .mobile-navigation {
    cursor: pointer;
    float: right;
    margin-right: -10px;
    padding: 10px;
  }

  .header-search {
    display: none;
    float: right;
    margin-top: 20px;
    width: 100%;

    @include respond-to('small') {
      margin-top: 10px;
    }
  }
}
