.main-navigation {
  @include full-width();
  background-color: $primary-color;
  display: none;
  margin: 0;
  padding: 0 0 20px;

  ul {
    @include list-style-none();
  }

  li {
    font-weight: 700;
    position: relative;
  }

  li li {
    font-weight: 400;
  }

  ul ul {
    padding: 5px 10px;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
