/**
 * Definitions
 */
$blue:              #55cbf2;
$red:               #ff6153;
$dark-blue:         #0d3380;
$light-blue:        #e6eff2;

$black:             black;
$extra-dark-grey:   #262f33;
$dark-grey:         #516166;
$medium-grey:       #829399;
$light-grey:        #b8c7cc;
$extra-light-grey:  #e7f0f3;
$white:             white;

/**
 * Implementation
 */
$primary-color:     $blue;
$secondary-color:   $red;

$heading-color:     $dark-blue;
$text-color:        $dark-grey;
$text-light:        $medium-grey;

$link-color:        $blue;
$hover-color:       $dark-grey;

$light-background:  $light-blue;
$border-color:      $light-grey;
