$box-padding: 30px;
$content-width: 980px;
$header-height: (
  'toggle-navigation': 80px,
  'full': 80px,
);
$margin-bottom-default: 40px;
$wrapper: (
  'padding': (
    'small': 20px,
    'medium': 40px,
  ),
  'width': 980px,
);
