$blue:            #55CBF2;
$red:             #FF6153;
$dark-blue:       #0D3380;
$light-blue:      #E6EFF2;

$black:            black;
$dark-gray:        hsl(0, 0%, 20%);
$medium-gray:      hsl(0, 0%, 40%);
$gray:             hsl(0, 0%, 60%);
$light-gray:       hsl(0, 0%, 90%);
$white:            white;

$light-yellow:     hsl(47, 100%, 85%);

$primary-color:    $blue;
$secondary-color:  $red;


$body-background:  $white;
$light-background: $light-blue;
$border-color:     $light-blue;

$heading-color:    $dark-blue;
$text-color:       $medium-gray;
$text-light:       $gray;
$link-color:       $medium-gray;

$code-color:       $light-yellow;
