$heading-font: (
  'Source Sans Pro',
  sans-serif,
);

$text-font: (
  'Source Sans Pro',
  sans-serif,
);

$line-height: $vertical-spacing;

$heading-sizes: (
  'h1': (
    'small': 24px,
    'medium': 36px,
  ),
  'h2': (
    'small': 20px,
    'medium': 24px,
  ),
);
