@include placeholder();

label {
  color: $heading-color;
  font-weight: 700;
}

input,
select,
textarea,
button {
  outline: 0; // Remove blue glow
}

input:not([type="button"]):not([type="checkbox"]):not([type="file"]):not([type="radio"]):not([type="submit"]),
select,
textarea {
  appearance: none; // Remove built-in browser/device styling
  background: $light-background;
  border: 0;
  border-radius: 3px;
  display: block;
  font-size: 16px; // Disable iOS zoom on focus
  height: 3em;
  padding: 0 15px;

  @include respond-to('medium') {
    font-size: 18px;
  }
}

[type="button"],
[type="submit"],
button {
  @include button();
  @include hover((
    'background-color': shade($secondary-color, 10%),
    'color': $white,
  ));
  background-color: $secondary-color;
}

select {
  &[multiple] {
    height: auto;
    max-height: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  &:not([multiple]) {
    background: url('data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==') no-repeat right 10px center;
    background-color: $light-background;
  }

  option {
    padding: 5px 10px;
  }
}

textarea {
  line-height: map-get($line-height, 'base');
  max-width: 100%; // Android bug
  min-height: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  resize: vertical;
}
