/// Sprite
@mixin sprite($top, $left) {
  background-image: url('../../../assets/images/sprite@1x.png');
  background-position: $top $left;
  background-repeat: no-repeat;

  @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
    background-image: url('../../../assets/images/sprite@2x.png');
    background-position: $top $left;
    background-size: 500px 500px;
  }
}
