{% extends 'base.twig' %}

{% block content %}
	<h1>
		{{ title }}
	</h1>

	{{ description }}

	{% if posts is not empty %}
		<div class="jokes-list">
			{% for post in posts %}
				{% include 'partials/loop-joke.twig' %}
			{% endfor %}
		</div>

		{% include 'partials/pagination.twig' %}
	{% else %}
		<p>
			{{ __('No results found.', 'tp') }}
		</p>
	{% endif %}
{% endblock %}
