{% extends 'base.twig' %}

{% block content %}
  <h1>
    {{ post.title }}
  </h1>

  {{ post.content }}

  {% if categories is not empty %}
    <h2>Moppen categorieën</h2>

    <div class="categories">
        {% for category in categories %}
            <a class="category" href="{{ category.link }}">
                {{- category.name -}}
            </a>
        {% endfor %}

        {% include 'partials/view-all-button.twig' %}
    </div>
  {% endif %}

  {% if newestJokes is not empty %}
    <h2>Nieuwste moppen</h2>

    <div class="jokes-list">
        {% for joke in newestJokes %}
            {% include 'partials/loop-joke.twig' %}
        {% endfor %}
    </div>

    {% include 'partials/view-all-button.twig' %}
  {% endif %}

  {% if bestJokes is not empty %}
    <h2>Geinigste moppen</h2>

    <div class="jokes-list">
        {% for joke in bestJokes %}
            {% include 'partials/loop-joke.twig' %}
        {% endfor %}
    </div>

    {% include 'partials/view-all-button.twig' %}
  {% endif %}

{% endblock %}
