{% extends 'base.twig' %}

{% block content %}
	<h1>
		{{ post.title }}
	</h1>

	{{ post.content }}

	{% include 'partials/rating.twig' %}

	<p>
		<a class="button secondary" href="{{ archivelink }}">
			&blacktriangleleft; Overzicht
		</a>

		<a class="button align-right" href="{{ nextpostlink }}">
			Nieuwe mop &blacktriangleright;
		</a>
	</p>

{% endblock %}
