<div class="follow-us">
    <h2>Blijf op de hoogte</h2>
    <p>Ontvang geinige moppen via Facebook, Twitter of direct in je inbox.</a>
    <div class="buttons">
        <a class="button facebook" href="https://www.facebook.com/moppensite1/">
            Like ons op Facebook
        </a>
        <a class="button twitter" href="https://twitter.com/moppen_site/">
            Volg ons via Twitter
        </a>
        {% include 'partials/subscribe.twig' %}
    </div>
</div>
