<div class="follow-us">
    <h3>Blijf op de hoogte</h3>
    <p>Ontvang geinige moppen via Facebook, Twitter of direct in je inbox.</a>
    <div class="buttons">
        <a class="button facebook" href="">
            Like ons op Facebook
        </a>
        <a class="button twitter" href="">
            Volg ons via Twitter
        </a>
        {% include 'partials/subscribe.twig' %}
    </div>
</div>
