<article class="{{ post.class }}">

	<div class="title">
		<a href="{{ post.link }}">
			{{ post.title }}
		</a>
	</div>

	<div class="grade">
		{{ post.rating.grade }}
	</div>

	{% include 'partials/rating-bar.twig' %}
</article>
