<div
    class="rating"
    data-upvotes="{{ post.upvotes }}"
    data-downvotes="{{ post.downvotes }}"
    data-rating="{{ post.rating }}"
>
    <div class="bar" style="width: {{ post.barwidth }}"></div>
</div>
