<div
    class="rating-bar"
    data-upvotes="{{ post.rating.upvotes }}"
    data-downvotes="{{ post.rating.downvotes }}"
    data-rating="{{ post.rating.value }}"
>
    <div class="bar" style="width: {{ post.rating.barwidth }}"></div>
</div>
