<div
    class="rating"
    data-upvotes="{{ joke.upvotes }}"
    data-downvotes="{{ joke.downvotes }}"
    data-rating="{{ joke.rating }}"
>
    <div class="bar" style="width: {{ joke.barwidth }}"></div>
</div>
