<form action="//site.us14.list-manage.com/subscribe/post?u=1f26cee26dc4ccc6b116e0942&amp;id=022bfa7ae3" method="post" target="_blank" novalidate>
    <input type="email" value="" placeholder="jouw@emailadres.nl" name="EMAIL" email" id="mce-EMAIL">
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_1f26cee26dc4ccc6b116e0942_022bfa7ae3" tabindex="-1" value="">
    </div>
    <input type="submit" value="Aanmelden">
</form>
